@import '~bootstrap/scss/bootstrap-utilities';

.navbar {
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: saturate(180%) blur(20px);
}

.logotype {
    display: inline-block;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    margin-right: 8px;
    vertical-align: middle;
}

.navLink {
    border-radius: $border-radius;

    &:hover,
    &:focus {
        background-color: rgba($gray-600, 0.075);
    }
}
